.viewContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 0 20px;
}

.menu > a {
    margin-bottom: 20px;
}

.logo {
    width: 50px;
    margin-bottom: 40px;
}