.viewContainer {
    display: grid;
    grid-template-columns: 10% 1fr auto 1fr 10%;
    grid-template-rows: max-content auto;
    justify-content: center;
    justify-items: center;

    min-height: 100vh;
    width: 100%;
    padding-top: 10px;
}

.viewContainer > * {
    grid-column: 2;
    height: max-content;
}

.header {
    grid-column: 2 / 5;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.header img {
    width: 40px;
}

.header button {
    font: var(--font-extra-small);
    background-color: var(--color-dark-purple);
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 25px;
    
    height: min-content;
    width: 9rem;
    padding: 10px 20px;
}

.header button:hover {
    background-color: var(--color-salmon);
    cursor: pointer;
}

.scoreCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 0px 10px 0px 0px black;

    max-width: 200px;
    padding-block: 0.1rem;
    padding-inline: 9vw;
    position: relative;
}

.playerNumber {
    font: var(--font-extra-small);
    width: max-content;
}

.playerScore {
    font: var(--font-small);
}

.scoreCard img {
    position: absolute;

    left: 0;
    transform: translateX(-50%);
    height: 90%;
}

.scoreCardRHS img {
    position: absolute;
    left: 100%;
}

.contentContainer {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    
    align-items: center;
    justify-items: center;

    width: 100%;
    height: 100%;
}

.contentContainer > * {
    grid-column: 2;
}

.gridAndScores {
    grid-column: 2 / 5;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

/* TODO: Create overlap effect with grid rather than position */
.grid {
    grid-column: span 2;
    position: relative;
    top: 40px;

    max-width: 350px;
    
}

.gridFront {
    position: relative;
    width: 100%;
}

.gridBack {
    position: absolute;
    top: 3px;
    width: 100%;
}

.diskContainer {
    background-color: rgba(0, 255, 140, 0);

    width: 100%;
    height: 90%;

    position: absolute;


}

.modalOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: var(--color-dark-purple);
    opacity: 1;
    border-radius: 50px;
    border: 3px solid black;

    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 4rem 10rem;

}

.modal h1 {
    font: var(--font-large);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.modal > button {
    margin-bottom: 1.5rem;
    padding-inline: 4rem;
}

@media screen and (min-width: 1024px) {
    .header {
        grid-column: 3;
    }

    .gridAndScores {
        grid-column: 1 / -1;

        grid-template-columns: subgrid;
        grid-template-rows: 1fr;

        width: 100%;
        height: 100%;
    }

    .gridAndScores > * {
        grid-row: 1;
        margin-top: 10px;
    }

    .grid {
        grid-column: 3;
        max-width: 500px;

        top: 0;
    }

    .scoreCard {
        grid-column: 2;
        height: min-content;

        padding-block: 1.5rem;
        padding-inline: 1.5rem;
    }

    .scoreCardRHS {
        grid-column: 4;
    }

    .scoreCard img {
        left: 50%;
        top: 0;
        transform: translate(-50%, -60%);

        height: 40%;
    }

    .playerNumber {
        font: var(--font-small)
    }

    .playerScore {
        font: var(--font-large);
    }

}