.viewContainer {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: max-content auto;
    justify-content: center;
    justify-items: center;

    min-height: 100vh;
    width: 100%;
    padding-top: 10px;
}

.viewContainer > * {
    grid-column: 2;
    height: max-content;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.header img {
    width: 40px;
}

.header button {
    font: var(--font-extra-small);
    background-color: var(--color-dark-purple);
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 25px;
    
    height: min-content;
    width: 9rem;
    padding: 10px 20px;
}

.header button:hover {
    background-color: var(--color-salmon);
    cursor: pointer;
}

.scoreCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 0px 10px 0px 0px black;

    max-width: 20rem;
    padding: 0.1rem 3rem;
    position: relative;
}

.playerNumber {
    font: var(--font-extra-small)
}

.playerScore {
    font: var(--font-small);
}

.scoreCard img {
    position: absolute;

    left: 0;
    transform: translateX(-50%);
    height: 90%;
}

.scoreCardRHS img {
    position: absolute;
    left: 100%;
}

.contentContainer {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    
    align-items: center;
    justify-items: center;

    width: 100%;
    height: 100%;
}

.contentContainer > * {
    grid-column: 2;
}

.gridAndScores {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

/* TODO: Create overlap effect with grid rather than position */
.grid {
    grid-column: span 2;
    position: relative;
    top: 40px;

    max-width: 350px;
    
}

.gridFront {
    position: relative;
    width: 100%;
}

.gridBack {
    position: absolute;
    top: 3px;
    width: 100%;
}

.indicatorSection {
    grid-column: 1 / -1;

    width: 100%;
    height: 100%;

    text-align: center;
    background: var(--color-dark-purple);
    border-radius: 80px 80px 0 0; 
}

.indicator {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.indicatorImage {
    grid-area: 1 / 1 / 2 / 2;
    height: auto;
    
    /* For stacking context */
    position: relative;
}

.indicatorText {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
}

.indicatorPlayerNumber {
    font: var(--font-extra-small);
}

.timeLeft {
    font: var(--font-large);
}

