.player1 {
    background-color: var(--color-salmon);
}

.player2 {
    background-color: var(--color-yellow);
}

.disk {
    content: ' ';
    width: 14%;
    aspect-ratio: 1;
    border-radius: 50px;

    position: absolute;
}
