/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}


/* Images are replaced elements and so by default will not shrink to fit a parent's width. */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

/* More legible - especially for dyslexic users. Meets WCAG criteria.
   Probably too big for headings - set accordingly in those cases. */
body {
  line-height: 1.5;
}


/* Design System */
body {
  /* Colors */
  --color-dark-purple: #5C2DD5;
  --color-light-purple: #7945FF;
  --color-salmon: #FD6687;
  --color-yellow: #FFCE67;

  /* Typography */
  --font-large: bold 3.5rem/71px 'Space Grotesk', sans-serif; 
  --font-medium: bold 1.5rem/31px 'Space Grotesk', sans-serif; 
  --font-small: bold 1.25rem/26px 'Space Grotesk', sans-serif; 
  --font-extra-small: bold 1.0rem/21px 'Space Grotesk', sans-serif; 
  --font-body: 1.0rem/21px 'Space Grotesk', sans-serif;
}

/* General Styles */
body {
  background-color: var(--color-light-purple)
}

.linkButton {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 70px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 4px solid black;
  margin-bottom: 10px;

  color: black;
  text-decoration: none;
  filter: drop-shadow(0px 10px black);
  font: var(--font-medium);
  cursor: pointer;
}

.linkButton:hover {
  border-color: var(--color-dark-purple);
  filter: drop-shadow(0px 10px var(--color-dark-purple))
}

.linkButtonYellow {
  background-color: var(--color-yellow);
}

.linkButtonWhite {
  background-color: white;
}

.linkButtonSalmon {
  background-color: var(--color-salmon);
  color: white;
}

/* Modal transitions */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.6s;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  transform: scale(0);
  transition: transform 1.0s;
}

.ReactModal__Content--after-open {
  transform: scale(1);
}

.ReactModal__Content--before-close {
  transform: scale(0);
}